<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnPhpunitWarning="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="GameQ Test Suite">
            <directory suffix=".php">tests</directory>
            <exclude>tests/MockDNS.php</exclude>
            <exclude>tests/Fixtures</exclude>
            <exclude>tests/Protocols/Base.php</exclude>
            <exclude>tests/TestBase.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
